<!DOCTYPE html>
<html>
  <head>
    <title>Part of Airbnb information in Clark County</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Check a few airbnbs in Clark County, NV</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All airbnbs</a> |
          <a href="{{ url_for('create')}}">Create a new one</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/Richard1007/webapp"
            >available on Github</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
