{% extends 'base.html' %}

{% block container %}
<h2>A wonderful trip always starts with a good residence!</h2>
<p>Welcome to the homepage of my airbnb checking app. It contains all airbnbs
    in Clark County, NV. 
    Here you may check all available airbnbs categorized by their locations and rating scores. 
    If you are a house owner, feel free to add your house to earn some money. Testing now
    
    <ul>
        <li><a href="{{ url_for('read')}}">a page that displays information pulled from a MongoDB database collection</a></li>
        <li><a href="{{ url_for('create')}}">a page with a form you can submit to create a new record in a MongoDB collection</a></li>
    </ul>
</p>
{% endblock %}